{% extends "layout.html" %}

{% block title %}
    Customers
{% endblock %}

{% block main %}
        <link href="/static/users.css" rel="stylesheet">   
        <main class="container py-5 text-center">

            <input type="text" id="Search" onkeyup='mySearch("customers")' placeholder="Search ..">

            <table id="customers"  class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-start" onclick='sortTable(0,"customers")'>Name <span id="sortT" class="material-symbols-outlined"> swap_vert </span></th>
                        <th class="text-end" onclick='sortTable(1,"customers")'>Email <span id="sortT" class="material-symbols-outlined"> swap_vert </span></th>
                        <th class="text-end" onclick='sortTable(2,"customers")'>Country <span id="sortT" class="material-symbols-outlined"> swap_vert </span></th>
                    </tr>
                </thead>
            <tbody>
                {% for line in customers %}
                       <tr>
                           <td class="text-start">{{line[1]}}</td>
                           <td class="text-start">{{line[2]}}</td>
                           <td class="text-end">{{line[3]}}</td>

                            <td>
                                <form action="/delete" method="post">
                                    <input name="id" type="hidden" value="{{line[0]}}">
                                    <input name="page" type="hidden" value="customers">
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                       </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="/cu_add" role="button">Add customer</a>
            
            <script src="/static/scripts.js"></script>
        </main>
{% endblock %}