{% extends "layout.html" %}

{% block title %}
    Add order
{% endblock %}

{% block main %}
        <link href="/static/users.css" rel="stylesheet">
        <main class="container py-5 text-center">
                <form action="/order_add" method="post">
                    <div class="mb-3">
                      <select class="form-control mx-auto" id="part" name="part">
                        <option disabled selected>Part</option>
                        {% for part in parts %}
                            <option value={{part[0]}}>{{part[0]}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <input class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount" type="number">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto" id="reg_data" name="reg_data" placeholder="Registration data" type="text" onfocus="(this.type='date')">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto" id="ship_data" name="ship_data" placeholder="Shipping data" type="text" onfocus="(this.type='date')">   
                    </div>
                    <div class="mb-3">
                      <select class="form-control mx-auto" id="status" name="status">
                        <option disabled selected>Status</option>
                        {% for status in statuses %}
                            <option value={{status[0]}}>{{status[0]}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Add order</button>
                </form>
        </main>
    </script>
    {% if error == 1 %}
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script type="text/javascript">
        var text = '{{text}}'
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: text,
          showConfirmButton: false,
        })
        setTimeout(function() { Swal.fire().close();}, 2000);
        setTimeout(function() { location.href = '/order_add';}, 2000);
      </script>
    {% endif %}
{% endblock %}
